<!-- Material form register -->

<mdb-card>
  <mdb-card-header class="green white-text text-center py-4">
    <h4>
      <b>We are Ready-4-U!</b>
    </h4>
  </mdb-card-header>

  <!--Card content-->
  <mdb-card-body class="px-lg-5 pt-0">
    <!-- Form -->
    <form
      [formGroup]="signupForm"
      (submit)="signupUser(signupform)"
      #signupform="ngForm"
      style="color: #3dbe0a;"
    >
      <div class="text-center p-md-3">
        <p>Register with Ready-4-U</p>
      </div>

      <div class="form-row">
        <div class="col">
          <!-- First name -->
          <div class="md-form">
            <mdb-icon fas icon="user" class="prefix"></mdb-icon>
            <input
              mdbInput
              mdbValidate
              type="text"
              id="materialRegisterFormFirstName"
              class="form-control"
              formControlName="firstName"
              name="firstName"
              ngModel
              required
            />
            <mdb-error
              *ngIf="
                firstName.invalid && (firstName.dirty || firstName.touched)
              "
            >
              Enter your Name</mdb-error
            >
            <label for="materialRegisterFormFirstName">First name</label>
          </div>
        </div>
        <div class="col">
          <!-- Last name -->
          <div class="md-form">
            <input
              mdbInput
              mdbValidate
              type="text"
              id="materialRegisterFormLastName"
              class="form-control"
              formControlName="lastName"
              name="lastName"
              ngModel
              required
            />
            <mdb-error
              *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
            >
              Enter your Last Name</mdb-error
            >

            <label for="materialRegisterFormLastName">Last name</label>
          </div>
        </div>
      </div>

      <!-- E-mail -->
      <div class="md-form mt-0">
        <mdb-icon fas icon="envelope" class="prefix"></mdb-icon>
        <input
          mdbInput
          mdbValidate
          type="email"
          id="materialRegisterFormEmail"
          class="form-control"
          formControlName="email"
          name="email"
          ngModel
          required
        />

        <mdb-error
          *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
        >
          Enter your Last Name</mdb-error
        >
        <label for="materialRegisterFormEmail">E-mail</label>
      </div>

      <!-- Password -->
      <div class="md-form">
        <mdb-icon fas icon="key" class="prefix"></mdb-icon>
        <input
          mdbInput
          mdbValidate
          type="password"
          id="materialRegisterFormPassword"
          class="form-control"
          aria-describedby="materialRegisterFormPasswordHelpBlock"
          formControlName="password"
          name="password"
          ngModel
        />
        <mdb-error
          *ngIf="password.invalid && (password.dirty || password.touched)"
        >
          Password is not satisfying required rules</mdb-error
        >
        <mdb-success
          *ngIf="password.valid && (password.dirty || password.touched)"
          >Strong Password</mdb-success
        >
        <label for="materialRegisterFormPassword">Password</label>
        <br />
        <small
          id="materialRegisterFormPasswordHelpBlock"
          class="form-text text-muted mb-4"
        >
          At least 8 characters and 1 digit
        </small>
      </div>

      <!-- Phone number -->
      <div class="md-form">
        <mdb-icon fas icon="mobile" class="prefix"></mdb-icon>
        <input
          mdbInput
          mdbValidate
          type="text"
          id="materialRegisterFormPhone"
          class="form-control"
          aria-describedby="materialRegisterFormPhoneHelpBlock"
          required
          formControlName="contactno"
          name="contactno"
          ngModel
        />
        <mdb-error
          *ngIf="contactno.invalid && (contactno.dirty || contactno.touched)"
        >
          Phone no must contain 10 digits</mdb-error
        >
        <label for="materialRegisterFormPhone">Phone number</label>
      </div>

      <!-- Sign up button -->
      <button
        mdbBtn
        color="green"
        outline="true"
        rounded="true"
        block="true"
        class="my-4 waves-effect z-depth-0"
        mdbWavesEffect
        type="submit"
      >
        Sign Up
      </button>

      <!-- Terms of service -->
      <p>
        By clicking <em>Sign up</em> you agree to our
        <a href="" target="_blank">terms of service</a>
      </p>
    </form>

    <!-- Form -->
  </mdb-card-body>
</mdb-card>
<!-- Material form register -->
