<mat-sidenav-container class="sidenav-container" >
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
  
      <!--profile pic-->
      <div class="pd-img">
        <img [src]="customer ? customer.profile_pic: './assets/images/spprofilephoto.jpg'" alt="Merchant Pic" class="img-thumbnail" >
        <h3 class="txt-white pd-top-min text-center"> {{customer ? customer.first_name + ' ' + customer.last_name: 'Loading..'}} </h3>
      </div>
  
      <mat-nav-list style="padding-top:20px;">
          <a class="txt-white row" mat-list-item [ngClass] ="home"
          (click)="navHome()"  routerLink="/cust">
              <div class="col-md-11 side-start " >
                <mat-icon >build</mat-icon>
                <span class="side-text">  Hire a Service</span>
              </div>
              <div class="ol-md-1 side-end">
              <mat-icon >keyboard_arrow_right</mat-icon>
            </div>
          </a>
  
  
  
        <a class="txt-white row" mat-list-item  [ngClass] ="orders"
        (click)="navOrders()"   routerLink="/cust/orders">
          <div class="col-md-11 side-start">
            <mat-icon >business_centert</mat-icon>
            <span class="side-text">  View Orders </span>
          </div>
          <div class="ol-md-1 side-end">
          <mat-icon >keyboard_arrow_right</mat-icon>
        </div>
        </a>
  
  
  
        <a class="txt-white row" mat-list-item [ngClass] ="profile"
        (click)="navProfile()"  routerLink="/cust/profile">
          <div class="col-md-11 side-start">
            <mat-icon >face</mat-icon>
            <span class="side-text">  My Profile</span>
          </div>
          <div class="ol-md-1 side-end">
          <mat-icon >keyboard_arrow_right</mat-icon>
        </div>
        </a>

        <a class="txt-white row" mat-list-item [ngClass] =""
        routerLink="">
          <div class="col-md-11 side-start">
            <mat-icon >book</mat-icon>
            <span class="side-text"> Settings</span>
          </div>
          <div class="ol-md-1 side-end">
          <mat-icon >keyboard_arrow_right</mat-icon>
        </div>
        </a>
  

        <a class="txt-white row" mat-list-item [ngClass] =""
         routerLink="\">
          <div class="col-md-11 side-start">
            <mat-icon >star</mat-icon>
            <span class="side-text">  Rate Ready4U</span>
          </div>
          <div class="ol-md-1 side-end">
          <mat-icon >keyboard_arrow_right</mat-icon>
        </div>
        </a>
  
  
  
      </mat-nav-list>
  
    </mat-sidenav>
  
    <!--dashboard content-->
    <mat-sidenav-content>
      <mat-toolbar color="green" class="app-toolbar" *ngIf="(isHandset$ | async) === true">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span style="font-size:16px;"> Open Menu </span>
      </mat-toolbar>
  
      <!--dashboard content-->
   
        <router-outlet></router-outlet>
 
      <!--end dashboard content-->
    </mat-sidenav-content>
  </mat-sidenav-container>
  
  
  
  
  
  