<!-- Material form login -->
<mdb-card>
  <mdb-card-header class="green text-center white-text py-6">
    <h1>
      <b>Sign in</b>
    </h1>
  </mdb-card-header>

  <!--Card content-->
  <mdb-card-body class="px-lg-5 pd-top-min">
    <!-- Form -->
    <form [formGroup]="loginForm" style="color: rgb(9, 179, 23);" #loginForms="ngForm" (submit)="signInUser(loginForms)">
      <!-- Email -->
      <div class="md-form">
        <mdb-icon fas icon="envelope" class="prefix"></mdb-icon>
        <input
          mdbInput
          mdbValidate
          type="email"
          class="form-control"
          formControlName="email"
          name="email"
          ngModel
        />
        <label for="form8">Email</label>
        <mdb-error *ngIf="email.invalid && (email.dirty || email.touched)"
          >Email Invalid</mdb-error
        >
        <mdb-success *ngIf="email.valid && (email.dirty || email.touched)"
          >Email Valid</mdb-success
        >
      </div>

      <!-- Password -->
      <div class="md-form">
        <mdb-icon fas icon="key" class="prefix"></mdb-icon>
        <input
          type="password"
          class="form-control"
          mdbInput
          formControlName="password"
          name="password"
          ngModel
        />
        <label for="materialLoginFormPassword">Password</label>
      </div>

      <div class="d-flex text-center justify-content-around">
        <div>
          <!-- Remember me -->
          <mdb-checkbox>Remember me</mdb-checkbox>
        </div>
        <div>
          <!-- Forgot password -->
          <a href="">Forgot password?</a>
        </div>
      </div>

      <!-- Sign in button -->
      <button
        mdbBtn
        color="green"
        outline="true"
        rounded="true"
        block="true"
        class="my-4 waves-effect z-depth-0"
        mdbWavesEffect
        type="submit"
      >
        Sign in
      </button>

      <div class="text-center">
        <!-- Register -->
        <p>
          Not a member?
          <a href="">Register</a>
        </p>
      </div>
    </form>
    <!-- Form -->
  </mdb-card-body>
</mdb-card>
<!-- Material form login -->
