<div *ngIf="!hireNow">
<div class="text-center md-4 service-select-heading">
    <h2>Select an available Service Provider...</h2>
    
        <agm-map *ngIf="serviceProviders.length"
          [latitude]="serviceProviders[0].location.latitude"
          [longitude]="serviceProviders[0].location.longtitude"
          [zoom]="9" >

          <agm-marker *ngIf="customerLocation"
          [latitude]="customerLocation.latitude"
          [longitude]="customerLocation.longtitude"
          [color] = "'green'"
          [label] = "{
            color: 'red',
            fontSize: '14px',
            fontWeight: 'bold',
            text: '    You'
            }"  ></agm-marker>
        
            <agm-marker *ngFor="let loc of serviceProviders"
            [latitude]="loc.location.latitude"
            [longitude]="loc.location.longtitude"
            [color] = "'red'"
            [label] = "{
              color: 'blue',
              fontSize: '14px',
              fontWeight: 'bold',
              text: loc.first_name
              }"  ></agm-marker>
          </agm-map>
  </div>
  <hr />
  
  <div class="row container-fluid service-holder" *ngIf="serviceProviders">
    <div class="row search-result shadow container-fluid" mdbWavesEffect *ngFor="let sp of serviceProviders">
        <div class="col-md-2">
          <img src="{{sp.profile_pic}}" style="width:180px"  >
        </div>
          <div class="col-md-5 search-result-pd">
            <span class="search-result-heading"> {{sp.first_name + ' ' + sp.last_name}}</span>
            <br> 
            <span class="search-result-sub"> {{sp.service_category}}</span>
            <br>
            <span class="search-result-price"> Rs. {{sptask.rate}} {{sptask.rate_type}} </span>
          </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-4 search-result-btn-pd">
          <div style="text-align:right;">
            <a role="button" class="btn btn-lg" color="green" text="white" mdbBtn mdbWavesEffect style="border-radius: 30px;"
            (click) ="hireNow = true"  (click)="serviceProviderSelected(sp.user_id)">
            <mdb-icon fas icon="book"></mdb-icon> Hire Now</a> <br>
            <a role="button" class="btn btn-md pt-3" color="red" text="white" mdbBtn mdbWavesEffect style="border-radius: 30px; " outline="yes"
              (click)="chatModal.show()"  (click)="join()">
            <mdb-icon fas icon="book"></mdb-icon> Start a Chat </a>
          </div>
           <div class="rating-mini">
            <ngb-rating readonly="true" [rate]="sptask.rating" max="5">
              <ng-template  let-fill="fill" let-index="index">
                <span class="star-mini" [class.filled]="fill === 100">&#9733;</span>
              </ng-template>
            </ngb-rating>
          </div>
        </div>

      </div>
  </div>

  <div class="container-fluid text-center" *ngIf="!serviceProviders">
      <app-notfound></app-notfound>
  </div>

</div>

<div *ngIf="hireNow">
    <div class="text-center md-4 service-select-heading">
        <h2>Place a Service Order</h2>
    </div>
        <div class="sp-details">
            <div class="row container-fluid">
                <div class="col-md-2 text-center">
                    <img src="{{selectedServiceProvider.profile_pic}}" class="shadow top-img" style="margin:0 auto;" >
                </div>
                <div class="col top-c">
                    <span class="top-name"> <b>  {{selectedServiceProvider.first_name + ' ' + selectedServiceProvider.last_name}}</b></span><br>
                    <span class="top-type">{{selectedServiceProvider.service_category}}</span><br><br>
                    <span  class="top-text"> Please provide details of the service you required below..</span>
                </div>
            </div>     
        </div>
      <hr />

      <form class="service-form" #taskDetailForm=ngForm (submit) = "placeOrder(taskDetailForm)">
      <div class="details-input container pd-top-min">
        <h4><b> State information regarding your required service task below.. </b></h4>
        <span>  A rich explanation may help to get the best service as required..</span><br><br>
        <mat-form-field class="full-width">
        <textarea matInput rows="5" name="description" ngModel placeholder="I want this service like..."></textarea>
        </mat-form-field>
      </div>
      <hr>
      <div class="details-input container">
        <h4><b> Upload Images related to your Servie Task..</b></h4>
      </div>
      <div class="row details-input container text-center">
        <div class="col-md-1"></div>
        <div class="col">
          <a role="button" mdbWavesEffect (click)="image01.click()">
            <img [src]="image01Url ? image01Url : './assets/images/noimg.png'"  alt="front side" class="img-cls">
          </a>
          <input type="file" hidden="true" id="img1" #image01 (change)="onImage01Uploaded($event)">
          <p><b>Image 01</b></p>
        </div>
        <div class="col-md-1"></div>
        <div class="col">
          <a role="button" mdbWavesEffect (click)="image02.click()">
            <img [src]="image02Url ? image02Url : './assets/images/noimg.png'" alt="front side"  class="img-cls">
          </a>
          <input type="file" hidden="true" id="image02" #image02 (change)="onImage02Uploaded($event)">
          <p><b>Image 2</b></p>
        </div>

        <div class="col-md-1"></div>
        <div class="col">
          <a role="button" mdbWavesEffect (click)="image03.click()">
            <img [src]="image03Url ? image03Url : './assets/images/noimg.png'" alt="front side"  class="img-cls">
          </a>
          <input type="file" hidden="true" id="image03" #image03 (change)="onImage03Uploaded($event)">
          <p><b>Image 3</b></p>
        </div>
        <div class="col-md-1"></div>
      </div>
      <hr>
      <div class="button-set text-center" style="padding-bottom:30px;">
        <button class="btn btn-lg" color="green" text="white" mdbBtn mdbWavesEffect style="border-radius: 30px; margin:10px auto; margin-right:15px; "
         type="submit">
        <mdb-icon fas icon="book"></mdb-icon> Place Order</button>
        <button class="btn btn-lg" color="green" outline="yes"  mdbBtn mdbWavesEffect style="border-radius: 30px; margin:10px auto;"
        >
        <mdb-icon fas icon="book"></mdb-icon> Go Back </button>
      </div>
    </form>
    </div>


    
<!--View Service Modal-->
<div
mdbModal
#chatModal="mdbModal"
class="modal fade"
tabindex="-1"
role="dialog"
aria-labelledby="myBasicModalLabel"
[config]="{ backdrop: false, ignoreBackdropClick: true }"
aria-hidden="true"

>
<div
  class="modal-dialog modal-dialog-centered modal-lg"
  role="document"
  style="overflow-y: initial !important"
>
  <div class="modal-content" >
    <div class="modal-header">
      <button
        type="button"
        class="close pull-right"
        aria-label="Close"
        (click)="chatModal.hide()"
        (click)="leave()"
      >
        <span aria-hidden="true">×</span>
      </button>
      <h4 class="modal-title w-100" id="myModalLabel" >
        <mat-icon>service</mat-icon>Hired Service Provider
      </h4>
    </div>

    <div class="modal-body " style="height: 500px; overflow-y: auto;">

      <div class="chat">
        <div class="text-center pt-2">
          <p> Have a chat with your service provider befor placing the order if they are available.</p>
        </div>
        <hr>
        <hr>
      <div class="row container-fluid">
          <div class="well">
              <div *ngFor="let item of messageArray">
                <div class="row">
                  <div class="col-md-1">
                   
                  </div>
                  <div class="col">
                    <span><strong>{{item.user}} : </strong> </span><br>
                    <span class="pt-1"> {{item.message}}</span>
                  </div>
                </div>
    
              </div>
          </div>
      </div>
      <div class="row pt-3">
          <div class="col-md-9">
            <mat-form-field style="width:100%">
              <mat-label>
                Type a message </mat-label>
              <input matInput type="text"  [(ngModel)]="messageText" name="chat_msg">
            </mat-form-field>
    
          </div>
          <div class="col-md-3 text-center">
                  <button mdbBtn mdbWavesEffect type="button" color="green" class="btn btn-md pull-left" style="border-radius:30px;" (click)="sendMessage()">Send</button>
          </div>
      </div>
      </div>


    </div>

    <div class="modal-footer">
      <button
        mdbBtn
        color="link"
        (click)="chatModal.hide()"
        (click)="leave()"
        mdbWavesEffect
      >
        Close
      </button>
    </div>
  </div>
</div>
</div>
