
<div class="text-center pt-3">
    <span style="font-size:30px; font-weight:bold;"> Safelty Tools</span>
</div>
<hr>
<div class="row container-fluid pt-3 pb-3" style="font-weight:bold; color:darkgreen; font-size:22px;">
    <div class="col-md-4 text-center">
        <button mdbBtn mdbWavesEffect  color="green" style="border-radius:50%; padding-top:27px; padding-bottom:27px;" texxt="white">
            <mdb-icon fas icon="phone-alt" size="3x" ></mdb-icon> 
        </button>
        <br>
        Emergency call
    </div>
    <div class="col-md-4 text-center">
        <button mdbBtn mdbWavesEffect  color="warning" style="border-radius:50%; padding-top:27px; padding-bottom:27px;" texxt="white">
            <mdb-icon fas icon="camera" size="3x" ></mdb-icon> 
        </button>
        <br>
        Take Photo
    </div>
    <div class="col-md-4 text-center">
        <button mdbBtn mdbWavesEffect  color="red" style="border-radius:50%; padding-top:27px; padding-bottom:27px;" texxt="white">
            <mdb-icon fas icon="ban" size="3x" ></mdb-icon> 
        </button>
        <br>
        Report 
    </div>
</div>