<!--header-->

  <!--Grid row-->

    <!--Grid column-->
    <div style="position: relative;">
      <img src="./assets/images/back2.jpg" style=" width:100%;" />
    </div>
    <div class="text-center" style="position:absolute; z-index:10; top:30%; left:0; right:0; bottom:0;">
      <div>
      <img src="./assets/images/thumb.png" style=" width:220px;" />
    </div>
    <br>
      <h2 class="font-weight-bold">
        Get your Handy Service Providers !
      </h2>

      <p class="pd-side">
        Get your nearest handy service provider in to your doorstep !
      </p>

      <a
        mdbBtn
        mdbWavesEffect
        style="border-radius:30px;"
        text="while"
        color="green"
        class="btn btn-lg"
        role="button"
        ><i class="fas fa-clone left"></i> View Services</a
      >
      <div class="pd-top"></div>
    </div>
    <!--Grid column-->

  <!--Grid row-->

