<section class="map-section">

  <!-- map here-->
  <div class="task-time text-center">
      <div class="countdown">
         {{hour <10 ? '0' + hour : hour }} : {{minute <10 ? '0' + minute : minute}}
      </div>
      <div class="amount-charged pt-4">
        <span class="rs">Rs.</span> {{amount}}
      </div>

      <div class="pt-3" style="font-size:24px; color:lightgray;" *ngIf="!completedView">
        Travel Charge: Rs. {{ travelCharge}}
      </div>
  </div>

  <!-- service provider stuff here-->
  <div class="sp-details" *ngIf="order">
      <div class="sp-details text-center" >

            <div class="sp-names text-center">
              <span class="sp-name">Current Task : {{ order.task.task}}</span>
            </div>

        </div>
      <div class="pt-4" class="sp-contact text-center">
        <div class="container-fluid text-center" *ngIf="!taskStarted && !completedView">
          <button mdbBtn mdbWavesEffect class="sp-btn btn-lg" color="green" text="white" (click) ="startCounter()" (click) = "taskStarted = true" >
            <i class="fa fa-check-circle" aria-hidden="true" ></i>  Start Working 
          </button>
          </div>
          <div class="container-fluid text-center" *ngIf="taskStarted && completedView">
            <button mdbBtn mdbWavesEffect class="sp-btn btn-lg" color="green" text="white"  (click) = "completeTask()" >
              <i class="fa fa-check-circle" aria-hidden="true" ></i>  Collect Payment
            </button>
            </div>
        <div class="container-fluid text-center" *ngIf="taskStarted && !completedView">
            <button mdbBtn mdbWavesEffect class="sp-btn" color="green" text="white" (click) ="stopCounter()"     (click) = "completedView = true">
              <i class="fa fa-check-circle" aria-hidden="true" ></i>  Complete Task
            </button>
            <button mdbBtn mdbWavesEffect class="sp-btn" color="red" text="white" outline="yes" (click) = "cancelDialog.show()" >
              <i class="fa fa-times-circle" aria-hidden="true" ></i> Cancel Task
              </button>
            </div>
        </div>

  </div>
  </section>


<!-- cancel appointment confirmation-->
<div mdbModal #cancelDialog="mdbModal"
class="modal fade top"
id="frameModalTop" tabindex="-1" role="dialog"
[config]="{ backdrop: false, ignoreBackdropClick: true }"
  aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-notify modal-danger  modal-dialog-centered" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading">Cancel Task</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancelDialog.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">

        <div class="row">
          <div class="col-3">
            <p></p>
            <p class="text-center">
              <mdb-icon fas icon="ban" size="3x" class="mb-3 animated rotateIn"></mdb-icon>
            </p>
          </div>

          <div class="col-9">
            <h5>Are you sure want to cancel this taks?</h5>
          </div>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn color="danger" class="waves-effect"  (click)="cancelTask()"
        (click)="cancelDialog.hide()" 
        mdbWavesEffect>Cancel
          <mdb-btn far icon="ban" class="ml-1"></mdb-btn>
        </a>
        <a type="button" mdbBtn color="danger" outline="true" class="waves-effect" mdbWavesEffect
        (click)="cancelDialog.hide()"
          data-dismiss="modal">Not Now</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>