.service-card {
  margin: 10px;
  max-width: 170px;
  min-width: 160px;
}

.service-text {
  padding: 20px;
  font-weight: bold;
  font-size: 50px;
  color: darkgreen;
}

.service-holder {
  padding: 20px;
  margin:12px;
}

.service-select-heading {
  padding-top: 30px;
  color: darkgreen;
  font-weight: bold;
}

.task-card {
  margin: 10px;
  max-width: 350px;
  min-width: 340px;
}

.task-text {
  padding: 15px;
  font-weight: bold;
  font-size: 50px;
  color: darkgreen;
}

.task-title {
  color: darkgreen;
  font-weight:bold;
  font-size:18px;
  line-height:24px;
}