<!-- common navbar-->
<!--Navbar-->
<mdb-navbar
  SideClass="navbar navbar-expand-lg sticky-top navbar-dark green scrolling-navbar"
  [containerInside]="false"
  *ngIf="!userIsAuthenticated"
>
  <!-- Navbar brand -->
  <mdb-navbar-brand
    ><a class="navbar-brand" routerLink="/">
      <img src="./assets/images/thumb.png" height="60" alt="" /> </a
  ></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>
    <ul class="navbar-nav ml-auto txt-800">
      <li class="nav-item">
        <a mdbWavesEffect class="nav-link" routerLink="/services">
          Find Service Providers
        </a>
      </li>
      <li class="nav-item">
        <a mdbWavesEffect class="nav-link" routerLink="/contactus">
          Get in Touch
        </a>
      </li>
      <li class="nav-item" *ngIf="!onLogin">
        <a
          mdbWavesEffect
          class="nav-link txt-bold"
          routerLink="/login"
          routerLinkActive="green darken-3"
        >
          Log In
        </a>
      </li>
      <li class="nav-item" *ngIf="!onRegister">
        <a
          mdbWavesEffect
          class="nav-link txt-bold"
          routerLink="/register"
          routerLinkActive="green darken-3"
        >
          Sign Up
        </a>
      </li>
    </ul>
  </links>
  <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->

<!--service provider navbar-->
<!--Navbar-->
<mdb-navbar
  SideClass="navbar navbar-expand-lg sticky-top navbar-dark green scrolling-navbar"
  [containerInside]="false"
  *ngIf="userIsAuthenticated && headerDetails.user_type === 'serviceProvider'"
>
  <!-- Navbar brand -->
  <mdb-navbar-brand
    ><a class="navbar-brand" routerLink="/">
      <img src="./assets/images/thumb.png" height="60" alt="" /> </a
  ></mdb-navbar-brand>
  <links>
    <ul class="navbar-nav ml-auto txt-800">
      <li class="nav-item">
        <a mdbWavesEffect class="nav-link" routerLink="/docs">
          Documentation
        </a>
      </li>
      <li class="nav-item">
        <a mdbWavesEffect class="nav-link" routerLink="/sp">
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a mdbWavesEffect class="nav-link" style="color:red;" (click)="changeState(false)" (click) = "online = !online" *ngIf="online">
          Mark Busy
        </a>
        <a mdbWavesEffect class="nav-link" style="color:lightblue;" (click)="changeState(true)" (click) = "online = !online" *ngIf="!online">
          Mark Available
        </a>
      </li>
      <li class="nav-item" *ngIf="!onLogin">
        <a
          mdbWavesEffect
          class="nav-link txt-bold"
          routerLinkActive="green darken-3"
          (click) ="onSignOut()"
        >
        <mdb-icon fas icon="user" class="prefix"></mdb-icon>
          Log Out
        </a>
      </li>
    </ul>
  </links>
</mdb-navbar>
<!--/.Navbar-->

<!--Customer navbar-->
<!--Navbar-->
<mdb-navbar
  SideClass="navbar navbar-expand-lg sticky-top navbar-dark green scrolling-navbar"
  [containerInside]="false"
  *ngIf="userIsAuthenticated && headerDetails.user_type === 'customer'"
>
  <!-- Navbar brand -->
  <mdb-navbar-brand
    ><a class="navbar-brand" routerLink="/">
      <img src="./assets/images/thumb.png" height="60" alt="" /> </a
  ></mdb-navbar-brand>
  <links>
    <ul class="navbar-nav ml-auto txt-800">
      <li class="nav-item">
        <a mdbWavesEffect class="nav-link" routerLink="/docs">
          Documentation
        </a>
      </li>
      <li class="nav-item">
        <a mdbWavesEffect class="nav-link" routerLink="/cust/orders">
          Place an Order
        </a>
      </li>
      <li class="nav-item">
        <a mdbWavesEffect class="nav-link" routerLink="/cust">
          Dashboard
        </a>
      </li>
      <li class="nav-item" *ngIf="!onLogin">
        <a
          mdbWavesEffect
          class="nav-link txt-bold"
          routerLinkActive="green darken-3"
          (click) ="onSignOut()"
        >
        <mdb-icon fas icon="user" class="prefix"></mdb-icon>
          Log Out
        </a>
      </li>
    </ul>
  </links>
</mdb-navbar>
<!--/.Navbar-->

<!--Navbar-->
<mdb-navbar
  SideClass="navbar navbar-expand-lg sticky-top navbar-dark green scrolling-navbar"
  [containerInside]="false"
  *ngIf="userIsAuthenticated && headerDetails.user_type === 'firmOwner'"
>
  <!-- Navbar brand -->
  <mdb-navbar-brand
    ><a class="navbar-brand" routerLink="/">
      <img src="./assets/images/thumb.png" height="60" alt="" /> </a
  ></mdb-navbar-brand>
  <links>
    <ul class="navbar-nav ml-auto txt-800">
      <li class="nav-item">
        <a mdbWavesEffect class="nav-link" routerLink="/docs">
          Documentation
        </a>
      </li>
      <li class="nav-item">
        <a mdbWavesEffect class="nav-link" routerLink="/firm/serviceproviders">
          Firm Members
        </a>
      </li>
      <li class="nav-item">
        <a mdbWavesEffect class="nav-link" routerLink="/firm/orders">
          Dashboard
        </a>
      </li>
      <li class="nav-item" *ngIf="!onLogin">
        <a
          mdbWavesEffect
          class="nav-link txt-bold"
          routerLinkActive="green darken-3"
          (click) ="onSignOut()"
        >
        <mdb-icon fas icon="user" class="prefix"></mdb-icon>
          Log Out
        </a>
      </li>
    </ul>
  </links>
</mdb-navbar>
<!--/.Navbar-->


<!--Navbar-->
<mdb-navbar
  SideClass="navbar navbar-expand-lg sticky-top navbar-dark green scrolling-navbar"
  [containerInside]="false"
  *ngIf="userIsAuthenticated && headerDetails.user_type === 'admin'"
>
  <!-- Navbar brand -->
  <mdb-navbar-brand
    ><a class="navbar-brand" routerLink="/">
      <img src="./assets/images/thumb.png" height="60" alt="" /> </a
  ></mdb-navbar-brand>
  <links>
    <ul class="navbar-nav ml-auto txt-800">
      <li class="nav-item">
        <a mdbWavesEffect class="nav-link" routerLink="/docs">
          Documentation
        </a>
      </li>
      <li class="nav-item">
        <a mdbWavesEffect class="nav-link" routerLink="/admin">
          Dashboard
        </a>
      </li>
      <li class="nav-item" *ngIf="!onLogin">
        <a
          mdbWavesEffect
          class="nav-link txt-bold"
          routerLinkActive="green darken-3"
          (click) ="onSignOut()"
        >
        <mdb-icon fas icon="user" class="prefix"></mdb-icon>
          Log Out
        </a>
      </li>
    </ul>
  </links>
</mdb-navbar>
<!--/.Navbar-->

